<title>Edit Profile</title>
<div class="container p-2 bg-dark shadow rounded p-4 py-4 mb-5 col-xl-4 col-md-6 col-10 mx-auto">
  <%# Errors %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h1 class="display-1 text-light">Edit <%= resource_name.to_s.humanize %></h1>
  <p class="text-light">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-people-fill d-inline-block align-text-top" viewBox="0 0 16 16">
      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
    </svg>
    Management composition laboratory teams software
  </p>
  <%# FORM %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%# Email %>
    <div class="field mb-3 row text-light">
      <%= f.label :email, class: "col-12 col-form-label" %>
      <div class="col-sm-10">
        <%= f.email_field :email, class: "form-control text-dark", autofocus: true,  placeholder: 'email', autocomplete: "email" %>
      </div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%# Password %>
    <div class="field mb-3 row text-light">
      <%= f.label :password, class: "col-12 col-form-label pb-0" %>
      <i class="col col-form-label pt-0 text-muted">
        (leave blank if you don't want to change it)
        <% if @minimum_password_length %><br>
          <em>(<%= @minimum_password_length %>
            characters minimum)
          </em>
        <% end %></i><br />
      <div class="col-sm-10">
        <%= f.password_field :password, class: "form-control text-dark", autocomplete: "new-password", placeholder: 'new password' %>
      </div>
    </div>
    <%# Password Confirmation %>
    <div class="field mb-3 row text-light">
      <%= f.label :password_confirmation,class: "col-12 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation,class: "form-control text-dark", autocomplete: "new-password" %>
      </div>
    </div>
    <%# Current password %>
    <div class="field mb-3 row text-light">
      <%= f.label :current_password,class: "col-12 col-form-label pb-0" %> <i class="col-12 col-form-label pt-0 text-muted">(we need your current password to confirm your changes)</i>
      <div class="col-sm-10">
        <%= f.password_field :current_password,class: "form-control text-dark", autocomplete: "current-password" %>
      </div>
    </div>
    <div class= "row">
      <%# Update button %>
      <div class="actions col-4">
        <%= f.submit "Update", class: 'form-control btn btn-primary' %>
      </div>
      <%# Back %>
      <div class="actions col-3">
        <%= link_to "Back", :back, :class => "form-control btn btn-outline-danger" %>
      </div>
    </div>
  <% end %>
</div>
<%# Delete account section %>
<div class="container p-2 bg-dark shadow rounded p-4 py-4 mb-5 col-xl-4 col-md-6 col-10 mx-auto">
  <h3 class="display-6 text-light">Delete my account</h3>
  <%# Delete button %>
  <p class="text-light">Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  :class => "btn btn-danger" %></p>
</div>
